@import '../../mixins.scss';

footer{
    width: 80%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    margin-bottom: 40px;
    font-size: 34px;
    font-weight: 600;
    font-style: italic;
    background-color: $backgroundSecondary;
    @include border-radius(20px);
}