@import '../mixins.scss';

header{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    gap: 50px;
    background-color: $background;
    border-bottom: 1px solid $primary20;
    z-index: 1;
    .link{
        font-size: 26px;
        line-height: 60px;
    }
}